@import './variables.css';

#home{
    padding: 0px;
    margin-bottom: var(--margin-xl);
}

#goals{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--margin-xl);
    margin-top: var(--margin-xl);
}

#no-goals {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    font-size: var(--font-3xl);
    color: var(--text-muted);
    text-align: center;
}