@import './variables.css';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text);
  background-color: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scrollbar-color: var(--bg-light) var(--bg);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  color: hsl(220, 60, 96);
}

#root {
  margin: 0;
  padding: 0;
}

button{
  background: var(--bg);
  color: var(--text);
  border: var(--border-card);
  padding: 0.5rem 1rem 0.7rem 1rem;
  font-weight: 700;
  border-radius: 0.5rem;
  cursor: pointer;
  text-align: center;
}

button:hover{
  background-color: var(--bg-light);
  outline: none;
}