
@import './variables.css';

.mount-minion-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-light);
  border-radius: 8px;
  box-shadow: var(--shadow);
  width: 200px;
  height: 275px;
  text-wrap: pretty;
  text-align: center;
}

.mount-minion-card h3{
  margin-top: 10px;
  font-size: var(--font-sm);
}

.mount-minion-card #mount-details{
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: var(--font-sm);
  justify-content: space-evenly;
  color: var(--text-muted);
}

.mount-minion-card img {
  max-width: 150px;
  max-height: 150px;
  justify-self: center;
  margin-top: auto;
  margin-bottom: auto;
}

.mount-minion-card button {
  margin-bottom: 1rem;
}