#my-collection-page {
    padding: 20px;
}

#my-collection-page > h2 {
    margin-bottom: 30px;
}

.collection-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.collection-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 40px 0px;
    margin-top: var(--margin-xl);
    margin-bottom: var(--margin-xl);
    justify-items: center;
}