.search-page{
    display: flex;
    flex-direction: column;
    gap: var(--margin-l);
    align-items: center;
    margin-top: var(--margin-xl);
}

.search-page #filter-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: calc(75% - 10vw);
    gap: var(--margin-m);
    font-size: var(--font-lg);
    font-weight: 500;
    gap: 20px;
}