:root {
    /* Gutter Variables */
    --main-gutter: 0px 5vw;


    /* Color variables */
    --primary: #415b53;
    --secondary: #52ccd4;

    --link-color: hsl(162, 17%, 45%);
    --link-highlight: hsl(162, 17%, 35%);

    --bg-dark: hsl(0, 0%, 10%);
    --bg: hsl(0, 0%, 20%);
    --bg-light: hsl(0, 0%, 15%);

    --text:  	hsl(0, 0%, 93%);
    --text-muted: hsl(0, 0%, 75%);

    --border: hsl(0, 0%, 25%);
    --border-active: hsl(0, 0%, 40%);

    --textbox-focus: hsl(0, 0%, 20%);

    --gradient: linear-gradient(0deg, var(--bg) 0%, var(--bg--dark) 100%);
    --gradient-hover: linear-gradient(0deg, var(--primary), var(--bg));
    --highlight: hsl(220, 5%, 100%);
    --border-card: solid 1px var(--bg);
    --shadow: 5px 7px 7px hsl(0, 0%, 10%);

    /* Spacing variables */
    --space-4: 4px;
    --space-8: 8px;
    --space-12: 12px;
    --space-16: 16px;
    --space-20: 20px;
    --space-28: 28px;
    --space-40: 40px;
    --space-240: 240px;

    /* Margin variables */
    --margin-xxs: .25rem;
    --margin-xs: .5rem;
    --margin-s: .75rem;
    --margin-medium: 1rem;
    --margin-l: 1.25rem;
    --margin-xl: 1.75rem;
    --margin-xxl: 2.5rem;

    /* Font size variables */
    --font-xs: 0.75rem;
    --font-sm: 0.875rem;
    --font-base: 1rem;
    --font-lg: 1.125rem;
    --font-xl: 1.25rem;
    --font-2xl: 1.5rem;
    --font-3xl: 1.875rem;
    --font-4xl: 2.25rem;
}