@import "./variables.css";

.banner {
  background-color: var(--bg-dark);
  color: var(--text);
  padding: var(--margin-l);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 100;
}

.banner h1 {
  margin: 0;
  font-size: var(--font-2xl);
  font-weight: 400;
}

.banner img {
  height: 75px;
  width: auto;
  margin-top: calc(var(--margin-l) * -1);
  margin-bottom: calc(var(--margin-l) * -1);
}

#buttons-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 3;
}

#buttons-group a {
  margin-left: var(--margin-xxl);
  color: var(--text);
  font-weight: 600;
  font-size: var(--font-xl);
}

#search-group {
  flex: 1;
  justify-content: center;
  align-items: center;
}

#search-group input[type="text"] {
  float: right;
  padding: var(--margin-xs);
  border-radius: 8px;
  width: 75%;
  font-size: var(--font-large);
  color: var(--text-muted);
  background-color: var(--bg-light);
  border-color: var(--border);
}

#search-group input[type="text"]:focus {
  outline: none;
  border-color: var(--border-active);
  background-color: var(--textbox-focus);
}
