@import './variables.css';

/* Goal Card Container */
.goal-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: var(--margin-xs);
    border-radius: 8px;
    width: calc(75% - 10vw);
    background-color: var(--bg-light);
    color: var(--text);
    box-shadow: var(--shadow);
}

/* Goal Title Section */
#goal-title {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
    background-color: var(--bg-dark);
    border-radius: 8px 8px 0 0;
    padding: var(--margin-xxs);
    font-size: var(--font-3xl);
    font-weight: 600;
}

#goal-title p {
    font-size: var(--font-lg);
}

#goal-title #complete {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--space-16);
    margin-left: calc(var(--space-16) * -1);
}

#goal-title [type="radio"] {
    align-self: center;
    margin-right: var(--margin-xs);
    margin-left: 0;
    appearance: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transform: scale(1.5);
    border: 2px solid var(--border);
    border-radius: 50%;
    background-color: var(--bg);
}

#goal-title [type="radio"]:checked {
    border: 6px solid var(--primary);
    background-color: var(--bg-light);
}

input[type="radio"]:checked::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-color: var(--bg-dark);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Goal Content Section */
#goal-content {
    display: flex;
    flex-direction: row;
    gap: var(--margin-medium);
    flex: 1;
    min-height: 300px;
}

/* Details Section */
#details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--margin-l);
    padding: var(--margin-medium);
    flex: 1;
}

#description {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: var(--margin-l);
}

.detail-item {
    display: flex;
    flex-direction: column;
    gap: var(--margin-xxs);
}

.detail-item strong {
    font-size: var(--font-xl);
    font-weight: 700;
    color: var(--text);
}

.detail-item p {
    font-size: var(--font-l);
    font-weight: 400;
    color: var(--text-muted);
    margin: 0;
}

.detail-item a {
    font-size: var(--font-base);
    font-weight: 400;
    color: var(--link-color);
    margin: 0;
    text-decoration: underline;
}

.detail-item a:hover {
    color: var(--link-highlight);
}

.detail-item a::selection {
    background-color: var(--link-color);
    color: var(--bg-light);
}

/* Notes Section */
#notes {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#notes strong {
    font-size: var(--font-lg);
    font-weight: 700;
    color: var(--text);
}

#notes p {
    width: 100%;
    min-height: 80px;
    max-height: 150px;
    border-radius: 4px;
    color: var(--text-muted);
    font-size: var(--font-base);
    font-weight: 400;
    box-sizing: border-box;
    overflow-y: auto;
}

/* Image Section */
#image {
    display: flex;
    flex-direction: column;
    gap: var(--margin-medium);
    align-items: center;
    padding: var(--margin-medium);
}

#image img {
    max-width: 300px;
    height: auto;
    border-radius: 8px;
}
