@import './variables.css';

#home{
    padding: 0px;
}

#goals{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--margin-xl);
    margin-top: var(--margin-xl);
}