.mounts-minions-page {
  display: flex;
  flex-direction: column;
  gap: var(--margin-l);
  align-items: center;
  margin-top: var(--margin-xl);
}

.mounts-minions-page #filter-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: calc(75% - 10vw);
  gap: var(--margin-m);
  font-size: var(--font-lg);
  font-weight: 500;
  gap: 20px;
}

.mounts-minions-page select {
  appearance: none;
  background-color: var(--bg-dark);
  font-size: var(--font-lg);
  color: var(--text);
  padding: var(--space-8) var(--space-12);
  border: 1px solid var(--bg-dark);
  border: nonde;
  border-radius: 8px;
  cursor: pointer;
}

.mounts-minions-page select:focus {
  border: none;
  outline: none;
  border: 1px solid var(--textbox-focus);
  border-radius: 8px;
}

.mounts-minions-page select option {
  background-color: var(--bg-dark);
  color: var(--text);
}

.mounts-minions-page select::picker-icon {
  filter: invert(1);
}

::picker(select) {
  background-color: var(--bg);
}

option{
    background-color: var(--bg);
    color: var(--text);
    border: nonde;

}

option:first-of-type{
    border-top: none;
}

option:last-of-type{
    border-bottom: none;
}