@import './variables.css';

.profile-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--margin-l);
    margin-top: var(--margin-xl);
}

#profile-picture-section{
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: var(--margin-l);
}

#picture{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    background-color: var(--bg-light);
    border: 2px solid var(--border);
}

#picture img {
    width: 80%;
    height: auto;
    object-fit: cover;
    
}

#edit{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: var(--bg-light);
    cursor: pointer;
    padding: var(--margin-xs);
    font-size: var(--font-s);
}

#edit:hover {
    background-color: var(--bg-dark);
}

#name-field{
    width: 400px;
}

#name-field input[type="text"] {
    width: 100%;
    height: 30px;
    color: var(--text);
    background-color: var(--bg);
    border-radius: 8px;
    font-size: var(--font-xl);
    padding: var(--margin-l) var(--margin-l) var(--margin-l) var(--margin-xs);
    text-align: start;
     border-color: var(--border);
}

#name-field input[type="text"]:focus {
  outline: none;
  border-color: var(--border-active);
  background-color: var(--textbox-focus);
}

#username-field{
    width: 400px;
}

#username-field input[type="text"] {
     width: 100%;
    height: 30px;
    color: var(--text);
    background-color: var(--bg);
    border-radius: 8px;
    font-size: var(--font-xl);
    padding: var(--margin-l) var(--margin-l) var(--margin-l) var(--margin-xs);
    text-align: start;
    border-color: var(--border);
}

#username-field input[type="text"]:focus {
  outline: none;
  border-color: var(--border-active);
  background-color: var(--textbox-focus);
}